<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The Helion Microblog app is a trivial sample app based almost entirely on Michael Hartl's
  most excellent <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.  Why invent a new one when 
  one already exists :-)
</p>